# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EnhancedScrollView7.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\github\EnhancedScrollView7\.idea\.idea.EnhancedScrollView7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
